.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.row-main {
  clear: both;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.column1 {
  position: absolute;
  width: 400px;
  top: 0;
  bottom: 0;
  left: 0;
}
.column2 {
  position: absolute;
  left: 400px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.MapHolder {
  width: 100%;
  height: 100%;
}

.PanelHolder {
  background-color: #F5F6F7;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px;
}
